@charset "utf-8";



	
/*
    Date:   02/25/2022
*/


html{
	background-color: hsl(194, 30%, 56%);
	
	}
	
	
	
body{
	
		display: grid;
		margin-left: auto;
		margin-right: auto;
		background-color: hsl(183, 82%, 29%);	
		max-width: 1000px;
		min-width: 740px;
		width: 95%; 
	}
	
body > header > img {
	display: block;
	width: 100%;
}



body > header > nav.horizontalNavigation li{
	width: 20%;
	background-color: red;
}

li, a {
	text-decoration: none;
	
	}

nav.horizontalNavigation li {
	display: block;
	float: left;
}

nav.horizontalNavigation a {
	display: block;
	text-align: center;
}



h1,h2,h3 {
		font-size: 160%;
		
		font-family: "Lucida Console", Monospace;
		letter-spacing: 1px;
		font-weight: 800;
  }

 p, article{
	    font-family: "Times New Roman", Times, serif;
		color: white;
		text-align: left;
	  
  }
ul{
	background-color: hsl(194, 30%, 56%);
	list-style-type: none;
	text-align: center;
	
	}
li{
	
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	
}

header{
	font-size: 160%;
		
		font-family: "Lucida Console", Monospace;
		letter-spacing: 1px;
		font-weight: 800;
  }
	
	
footer {
	
	text-align: center;
	font-family: Garamond, Georgia, serif;
	background-color: orange;
	line-height: 1.2em;
}

/* this is the id for the html */

section#leftColumn{
	clear: left;
	float: left;
	width: 24%;
	
}

section#rightColumn{
	clear: right;
	float: right;
	width: 34%;
}


section#rightHR{
	clear: right;
	float: right;
	width: 34%;
}


}

	

	
	
	
	

	
	
